// ---------- ==========================================
//  PAGE ELEMENTS - Colour, embellishment, styling  */

// Colour scheme      
@darkgrey:      #363F4D;
@mediumgrey:    #727780; 
@lightgrey:     #9FA6B3;
@offwhite:      #BDCCD4; 
@brandred:      #FF3D33;    
@brandblue:     #006080;  
@ctxt:          @mediumgrey;     
@cbg:           #fff;     

// For calcs
@cspot:         @brandred;
@cprime:        @brandblue;

// For type
@clink:         @brandred;
@clinkhover:    lighten(@clink,10%);
@clinkactive:   lighten(@clink,20%);
@clinkvisited:  @clink;

/* ================== GLOBAL ATOMIC */

.selection-style(@cprime, @cbg);

* {
  .transition(0.25s);
  color: @ctxt;
}

a {
  color: @clink;
  text-decoration: none;
  font-weight: 600;
  
  &:hover     { color: @clinkhover;   border-bottom: 2px solid @clink; }
  &:active    { color: @clinkactive;  border-bottom: 2px solid @clink; }
  &:visited   { color: @clinkvisited; }
}

input, textarea {
  font-size: 24px;
  color: @brandred;
  border: none;
  border-bottom: 3px solid #DBDBDB;
  outline: none;
  
  &:focus {
    border-color: @brandred;
    @placeholder {
      position: absolute;
      color: green;
      margin-top: 20px;
    }
  }
  
  &.search {
    background: url('../img/img_icon-search.svg') no-repeat left 50%;
    padding-left: 50px;
    height: 50px;
  }
}

/* =================== Page specifics */

